<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>
<body>
<br>
<div th:align="center" class="tg">
    <h2>User List</h2>
    <table border="5" cellpadding="15">
        <thead >
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>USERNAME</th>
            <th>USER ROLE</th>
            <th>
                <button><a href="/admin/new-user">NEW</a></button>
            </th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:text="${user.name}">...</td>
            <td th:utext="${user.lastName}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:each="role : ${user.roles}">
                <span th:text="${role.name}"> </span> </td>
            <td>
                <button><a th:href="@{/admin/{id}(id=${user.id})}">Info</a></button>
            </td>
            <td>
                <button><a th:href="@{/admin/update-user/{id}(id=${user.id})}">Update</a></button>
            </td>
            <td>
                <button><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></button>
            </td>
            </td>
        </tr>
    </table>
    <br><br>
    <td>
        <button><a th:href="@{/logout}">LOGOUT</a></button>
    </td>
</div>
</body>
</html>

