<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:align="center" class="tg">
    <h2>User</h2>
    <table border="5" cellpadding="15">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
        </tr>
        <tr th:each="user:${oneUser}">
            <td th:text="${oneUser.id}"></td>
            <td th:text="${oneUser.name}"></td>
            <td th:text="${oneUser.lastName}"></td>
            <td th:text="${oneUser.email}"></td>
            <tr th:each="findAll:${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    <br>
    <br>
    <td>
        <button><a th:href="@{/logout}">LOGOUT</a></button>
    </td>
</div>
</body>
</html>